# Environment
APP_ENV=development

# Database
DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_NAME=
DB_SSLMODE=

# Goose
GOOSE_DRIVER=
GOOSE_DBSTRING=
GOOSE_MIGRATION_DIR=

# Server
SERVER_PORT=
SERVER_JWT_SECRET=
SERVER_JWT_EXPIRY_HOURS=
SERVER_REFRESH_TOKEN_EXPIRY_DAYS=

# Client (Vite reads VITE_ prefixed variables automatically)
VITE_API_URL=http://localhost:8080
