# Environment
APP_ENV=development

# Database
DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_NAME=
DB_SSLMODE=

# Server
SERVER_PORT=
SERVER_JWT_SECRET=changeme-use-a-long-random-string-in-production

# Client
VITE_API_URL=
